---
layout: default
---

<div class="grid">
	{% if site.grid_settings.display == "masonry" %}
		<div class='card-columns'>
	{% elsif site.grid_settings.display == "square" %}
		<div class='row'>
	{% endif %}
	    {% for post in site.posts %}
	    	{% assign post_filename = post.path | split: "." | first | remove_first: "_posts/" %}
	    	{% capture post_images_folder %}/assets/images/post_images/{{ post_filename }}{% endcapture %}
	    	{% assign post_images_array = "" | split: ',' %}

	    	{% for image in site.static_files %}
	    		{% assign image_folder = image.path | split: "/" | pop | join: "/" %}
	    		{% if image_folder == post_images_folder %}
	    			{% assign post_images_array = post_images_array | push: image %}
				{% endif %}
			{% endfor %}
				
			{% if site.grid_settings.show_all_images == true %}
				{% for post_image in post_images_array %}
					{% if site.grid_settings.display == "masonry" %}
						<div class="card">
							<a href="{{ post.url | relative_url }}"><img src="{{ post_image.path }}" class="img-fluid" alt="{{ post.title }}"></a>
						</div>
					{% elsif site.grid_settings.display == "square" %}
						<div class='col-sm-4 col- p-0'>
							<div class="image-container">
								<a href="{{ post.url | relative_url }}"><img src="{{ post_image.path }}" class="img-fluid" alt="{{ post.title }}"></a>
							</div>
						</div>
					{% endif %}
				{% endfor %}
	    	{% else %}
	    		{% assign post_image = post_images_array.first %}
	    		<div class="col-md-4 col-">
					<a href="{{ post.url | relative_url }}"><img src="{{ post_image.path }}" class="img-fluid" alt="{{ post.title }}"></a>
				</div>
	    	{% endif %}
	    {% endfor %}
	</div>
</div>