---
layout: default
---
<div class="row justify-content-center">
	<div class="col-lg-6 col-md-6 col-">

	    {% assign post_filename = page.path | split: "." | first | remove_first: "_posts/" %}
	    {% capture post_images_folder %}/assets/images/post_images/{{ post_filename }}{% endcapture %}
	    {% assign post_images_array = "" | split: ',' %}

	    {% for image in site.static_files %}
	    	{% assign image_folder = image.path | split: "/" | pop | join: "/" %}
    		{% if image_folder == post_images_folder %}
	    		{% assign post_images_array = post_images_array | push: image %}
			{% endif %}
		{% endfor %}
				
		{% for post_image in post_images_array %}
			<a href="{{ post.url | relative_url }}"><img src="{{ post_image.path }}" class="img-fluid" alt="{{ post.title }}"></a>
		{% endfor %}

	</div>
	{% assign content = page.content | strip_newlines %}
	{% if content != "" %}
	<div class="col-lg-6 col-md-6 col-">
		{% if site.post_settings.show_title and page.show_title != false %}
			<h3>{{ page.title }}</h3>
		{% elsif site.post_settings.show_title == false and page.show_title %}
			<h3>{{ page.title }}</h3>
		{% endif %}
		{{ content }}
	</div>
	{% endif %}
</div>
